@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-size: 100%;
    background-color: #caa478;
    overflow-y: auto;

}
header, footer {
    flex-shrink: 0; 
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    margin: 15px; 
        flex-grow: 1;
        padding: 1rem; /* Adds padding inside the main container */
        overflow-y: visible; /* Default behavior, allows the container to grow vertically as needed */
}
/* header styles */ 
header {
    background-color: #caa478;
    padding: 1rem 0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
header h1 {
    color: black; 
}
header ul {
    display: flex; 
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline; 
}

header a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 36px;
}

header a:hover {
    color: #82917F;
}


.add_task_container {
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
    align-items: center;
}

#add_task_button, #export_task_button {
    cursor: pointer;
    background-color: #A2B59F;
    color: black; 
    border: none; 
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
    transition: background-color 0.5 ease;
    transition: transform 0.3 ease;
}

#add_task_button:hover, #export_task_button:hover {
    background-color: #82917F;
    transform: scale(1.05);
}

.title_container {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    margin: 0 1rem; 
    text-align: center; 
}

.title_container p {
    background-color: #789EC5;
    border-radius: 4px;
    color: white; 
    padding: 0.5rem;
    font-weight: 500;
    color: #2c3e50;
}



.past_due_items_container, .tasks_today, .later_tasks, .completed_tasks {
    min-height: 150px;
    padding: 15px; 
    list-style: none;

}

/* footer styles */ 
footer {
    background-color: #caa478;
    color: black;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin-top: auto;

}
i {
    font-size: 36px;
}
footer a:hover i {
    color: #82917F;
    transform: scale(1.5); 
}
footer p {
    margin: 0;
}

footer a {
    text-decoration: none; 
    color: inherit; 
    margin-right: 20px;
}
footer h1 {
    margin-right: 20px;
}

/* button styles */ 
.delete_button {
    background-color: #e74c3c;
    color: black; 
    border: none; 
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; 
    margin: 0.5rem;
    transition: background-color 0.3 ease;
    transition: transform 0.3 ease;
}

.thumbtack {
    position: absolute;
    top: 10px;  /* adjust as needed */
    left: 50%;  /* centers the thumbtack horizontally on the card */
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background-color: green; /* thumbtack color */
    border-radius: 50%;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25); /* subtle shadow for depth */
}

.delete_button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.edit_button {
    background-color: #fd7e14;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3 ease;
    transition: transform 0.3 ease;
}

.edit_button:hover {
    background-color: #E56B00;
    transform: scale(1.05);
}

/* card styles */ 
.task_card, .completed_card  {
    position: relative;
    margin: 20px;
    padding: 20px;
    background-color: #FEFF9C;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.completed_card {
    background-color: #95a5a6; 
    transition: transform 0.3 ease;
    transition: background-color 0.3 ease;
    padding: 5px 10px;
    border-radius: 4px;
    border: none; 
}
.completed_card:hover {
    background-color: #778485; 
    transform: scale(1.05);
}
#quotes {
    width: auto; 
    background-color: #A2B59F; 
    color: black;
    padding: 15px 20px; 
    margin: 20px 0; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-style: italic; 
    font-size: 1rem; 
    max-width: 80%;
    display: block; 
    margin: 20px auto; 
    text-align: center;
}

@media (max-width: 768px) {
    header ul {
        flex-direction: column;
    }

    .add_task_container, .title_container {
        flex-direction: column;
        align-items: center;
    }

    .title_container {
        grid-template-columns: 1fr; /* Single column for labels */
        margin-top: 1rem;
    }

    main {
        grid-template-columns: 1fr; /* Single column for task containers */
    }
}



