

@media (max-width: 768px) {
    header ul {
        flex-direction: column;
    }

    .add_task_container, .title_container {
        flex-direction: column;
        align-items: center;
    }

    .title_container {
        grid-template-columns: 1fr; /* Single column for labels */
        margin-top: 1rem;
    }

    main {
        grid-template-columns: 1fr; /* Single column for task containers */
    }
}



