@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;700&display=swap');


body {
    overflow-x: hidden;
    background-color: #0A0A0A; 
}

header h1 {
    font-family: 'Merriweather'; 
    font-size: 36px;
    padding: 0;
}
header a {
    font-family: 'Merriweather'; 
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}
header a:hover {
    color: #70BEBC;  
}
header, footer {
    background-color: #3b4f63;
}

p {
    font-family: 'Cardo';
}

i:hover {
    transform: scale(1.1);
    color: #70BEBC;
}

.notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; /* Green for success */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    font-size: 16px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.notification.error {
    background-color: #f44336; /* Red for errors */
}

.notification.warning {
    background-color: #ff9800; /* Orange for warnings */
}

.notification.show {
    display: block;
}
